.post-content {
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-gap: 30px;
    align-items: center;
}

.post-author {
    text-align: center;
    border: 1px solid gray;
    color: #add8d8;
    padding: 10px;
}

.post-author-img {
    width: 40px;
    height: 40px;
}

.post-author-title {
    padding: 10px 0;
}

.post-container {
    text-align: center;
}

.post-social-media {
    display: flex;
    align-items: center;
    justify-content: center;
    color: red;
}

.post-social-media-item {
    margin-left: 10px;
}

@media screen and (max-width: 1024px) {
    .post-content {
        display: block;
    }
}
